@keyframes fadeIn { 
  from { opacity: 0; } 
}

.mta {
	font-size: 24px;
}

.mta-container {
  max-width: 400px;
}

.animate-flicker {
    animation: fadeIn 2s infinite alternate;
}

.updated-text {
	font-size: 16px;
	text-align: right;
}

.delays {
  max-height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.circle {
    border-radius: 50%;
    width: 30px;
    height: 30px; 
    line-height: 30px;
    text-align: center;
    display: inline-block;
    background-color: #AAAAAA;
    color: black;
    margin: 2px;
}

.marquee {
  height: 50px;
  width: 420px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}