@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.mta {
  font-size: 24px;
}



.animate-flicker {
  animation: fadeIn 2s infinite alternate;  
}

.updated-text {
  font-size: 16px;
  text-align: right;
}

.delays {
  max-height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  background-color: #aaaaaa;
  color: black;
  margin: 2px;
}
